<html lang="en">
  <head>
{{>navLinks}}
    <title>Index Page</title>
  </head>
  <body>
    {{>navbar}}
    <h1>Secret Page... It is only accessed if the user has a cookie!</h1>
    <a href="login">Login</a>
  </body>
</html>